body {
    color: #313539;
    background-image: url('./assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

body::-webkit-scrollbar {
    display: none;
}

.offcanvas-body {
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

.offcanvas-body::-webkit-scrollbar {
    display: none;
}

.app--header > button {
    background-color: #FEFCF3;
}

.card {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid #6C757D
}

.card:hover {
    cursor: pointer;
}

.card-title {
    word-break: normal;
    overflow: hidden;
}

.genre--form:hover, .platform--form:hover {
    cursor: pointer;
}

.genre--form.form-check-label:hover, .platform--form.form-check-label:hover {
    background-color: #6C757D;
    color: white;
}